aiobotocore
contextily
fiona
geopandas
git+https://github.com/gicait/geoserver-rest.git
lxml
matplotlib
minio
numpy
owslib
pandas
pydantic[dotenv]
pyodm
requests
rasterio
s3fs
schema
shapely
tqdm
xsdata
pydantic-settings
SQLAlchemy
psycopg2-binary
jupyter
torch==2.0.1
torchvision
