contextily
fiona
geopandas
git+https://github.com/gicait/geoserver-rest.git
lxml>=4.9.2
matplotlib
minio
numpy
owslib
pandas<=2.1
pydantic[dotenv]
pyodm
requests
rasterio
s3fs
schema
shapely
tqdm
xsdata>=21.9
pydantic-settings
SQLAlchemy<2.0
psycopg2-binary