contextily
fiona
geopandas
geoserver-rest
lxml>=4.9.2
matplotlib
minio
numpy
owslib
pandas
pydantic[dotenv]
pyodm
requests
rasterio
s3fs
schema
shapely
tqdm
xsdata>=21.9
pydantic-settings
SQLAlchemy<2.0
psycopg2